.principal {
    min-height: 100vh; 
    /* viewport height */
    background: linear-gradient(180deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}

.retangulo {
    width: 80%;
    min-height: 400px;
    border-radius: 30px;
}

.desktop {
    background: url(imagens/bg-pattern-desktop.svg);
    background-size: cover;
    background-position-x: -200px;
    background-repeat: no-repeat;
}

.d-img {
    width: 350px;
    margin-left: -70px;
}

.mobile {
    background: url(imagens/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

.m-img {
    width: 250px;
    margin-top: -120px;
}